<ng-container *ngIf="isLoggedIn && !isLoading; else spinner">
    <nav class="navbar bg-primary">
        <div class="container-fluid">
            <span class="badge">Recipe-book</span>
            <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-end">
                <li (click)="logout()"><button class="dropdown-item"><i class="bi bi-box-arrow-right me-1"></i>
                        Logout</button></li>
            </ul>
        </div>
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="home"><i class="bi bi-house-door me-1"></i>
                Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="add"><i class="bi bi-plus-lg me-1"></i> Add</a>
        </li>
    </ul>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</ng-container>


<ng-template #spinner>
    <div class="d-flex justify-content-center align-items-center" style="width: 100vw;height: 100vh;">
        <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
            <span class="visually-hidden">Loading</span>
        </div>
    </div>
</ng-template>